

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}
img{
    max-width: 100%;
    display: block;
}
.image-full{
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1.5em;
}
footer{
    background:#143774;
    color: white;
    text-align: center;
    padding: 3em 0;
}
.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.contnav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
h1{
    font-family: 'Lora';
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
    margin: 0;
}
header p{
    font-weight: 700;
    font-size: 0.75rem;
    color: #1792d2;
    margin: 0;
}

header{
    text-align: center;
    background: #f8f8f8;
    padding: 2em 0;
    margin-bottom: 2em;
}
nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
}
nav li {
    margin-left: 2em;
}
nav a{
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: 0.25em 0;
}
nav a:hover, nav a:focus{
    color: #424242;

}
h1, h2, h3{
    font-family: 'Lora';
    font-weight: 400;
    color: #143773;
    margin-top: 0;
}

.article-title{
    font-size: 1.5rem;
}

.article-read-more, .article-info{
    font-size: .875rem;
}

.article-read-more{
    color: #1793d3;
    text-decoration: none;
    font-weight: 700;
}
.article-read-more:hover{
    color: #143774;
    text-decoration: underline;
    
}
.container-flex{
    display: flex;
    flex-direction: column;
    
}
.article-info{
    margin: 2em 0;
}
.article-featured{
    border-bottom: #707070 1px solid;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.article-recent{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
.article-recent-main{
    order: 1;
}
.article-recent-secondary{
    order: 0;
}
.sidebar-widget{
    border: 20px solid #efefef;
    padding: 1em;
    margin-bottom: 2em;
}
.widget-title, .widget-recent-post-title{
    font-size: 1rem;
}

.widget-title{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.widget-recent-post{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #707070;
    margin-bottom: 1em;
}
.widget-recent-post:last-child{
    border: 0;
    margin: 0;
}
.widget-image{
    order: -1;
}

@media (min-width:675px){
    .contnav, .container-flex{
        flex-direction: row;
    }
    .container-flex{
        justify-content: space-between;
    }
    main{
        width: 70%;
    }
    aside{
        width: 25%;
        min-width: 200px;
        margin-left: 1em;
    }
    .article-recent{
        flex-direction: row;
        justify-content: space-between;
    }
    .article-recent-main{
        width: 68%;
    }
    .article-recent-secondary{
        width: 30%;
    }
    .article-featured{
        display: flex;
        flex-direction: column;
    }
    .article-image{
        order: -2;
    }
    .article-info{
        order: -1;
    }
    .article-image{
        width: 100%;
        min-height: 250px;
        object-fit: cover;
    }
}